<div id="entry" class="row registration-container">
    <div class="container p-5">
      <h5 class="mb-5">Запись на бесплатную пробную тренировку</h5>
      <form id="data" action="/send_application">
        <div class="form-row py-5">
          <div class="form-group col-md-6">
            <input id="NameInput" class="form-control" type="text" placeholder="Имя" name="name" required>
          </div>
          <div class="form-group col-md-6">
            <input id="PhoneInput" class="form-control" type="tel" aria-describedby="phoneHelp" placeholder="Контактный номер телефона" name="phone" pattern="\+7 \([0-9]{3}\) [0-9]{3}-[0-9]{2}-[0-9]{2}" required>
            <small id="phoneHelp" class="form-text text-muted">На этот номер в ближайшее время поступит звонок.</small>
          </div>
          <div class="form-group col-md-6">
            <input id="AgeInput" class="form-control" type="number" min="1" max="99" placeholder="Возраст ребенка" name="age">
          </div>
        </div>
      </form>
      <input id='submit-btn' class='btn btn-primary mt-5' type='submit' value='Отправить заявку' form='data'></button>
    </div>
</div>