{% extends 'base.html' %}
{% load static %}

{% block header %}
{% endblock header %}

{% block style %}
  body {
    background: #152237;
  }
  .gallery-card{
    padding: 0;
  }
  .card-container{
    flex-flow: wrap;
    width: 100vw;
    float: left;
    margin-bottom: 10px;
    overflow-x: hidden;
  }
  .gallery-card:nth-child(4n),
    .gallery-card:nth-child(4n + 1){
    background: white;
  }
  .gallery-card:nth-child(4n) .card-title,
    .gallery-card:nth-child(4n + 1) .card-title{
    color: #152237;
  }
  .card-title{
    padding-left: 5vw;
    color: white;
  }
  .card-body{
    padding: 10px;
    padding-left: 0px;
  }
  .card-img-div{
    align-self: center;
    width: 100vw;
    max-width: 100%;
  }
  .card-img-top {
    margin: auto;
    height: 300px;
    width: auto;
    overflow: hidden;
  }
{% endblock style %}

{% block intro %}
{% endblock intro %}

{% block content %}
  <h5 class="title" style="color: white">{{ Title }}</h5>

  <!-- Навигация по галереям -->
  <div class="card-container d-flex w-100">
    {% for galery in galery_catalog %}
      <div class="gallery-card col-lg-6">
        <div class="card-body">
          <h6 class="card-title">
            {{ galery.header }}
          </h6>
          {% comment "" %}<p class="text-center">{{ galery.description|linebreaks }}</p>{% endcomment %}
        </div>
        <div class="card-img-div " style="max-width: 100%">
          <a href="{{ galery.get_absolute_url }}">
            <img class="d-block card-img-top center-cropped" src="{{ galery.galery_photo.url }}" alt="{{ galery.pk }}. galery_img">
          </a>
        </div>
      </div>
    {% endfor %}
  </div>

  <div class="content" style="min-height: 10px;">
    {% include "request.html" %}
  </div>
{% endblock content %}

{% block prefooter %}
  <div style="margin-top: 20px;"></div>
{% endblock prefooter %}