{% extends 'base.html' %}
{% load static %}

{% block intro %}
{% endblock intro %}

{% block style %}
	body {
		background: white;
	}
	.trainer-image{
		width: 100vw;
		max-width: 500px;
	}
	p{
		font-size: 110%;
	}
{% endblock style %}

{% block content %}
	<h5 class="title">{{ Title }}</h5>

	<p class="text-center p-4">
		Футбольная школа <b>«Star’s Kids»</b> - это<br>
		инновационный подход к спортивной подготовке и футбольного индивидуального развития,
		который затрагивает самые основные аспекты воспитания молодых спортсменов:<br><br>

		В нашей футбольной школе работают профессиональные тренеры, которые не только учат детей играть в футбол, но и воспитывают в них уважение к соперникам, дисциплину, целеустремленность и настойчивость. Эти качества пригодятся не только на футбольном поле, но и в жизни.<br>
	</p>

	<div class="mb-3">
		<img class="trainer-image d-block img-fluid"
			src="{% static 'mainapp/about/trainers/trainers.jpg' %}" alt="trainers">
	</div>

	<p class="text-center p-4">
		Почему футбольная детская школа - это отличный выбор для вашего ребенка<br><br>

		Футбол - это не просто спорт, это стиль жизни. Если ваш ребенок проявляет интерес к футболу, то почему бы не дать ему возможность развиваться в этом направлении? Футбольная детская школа - это идеальное место, где юные таланты могут раскрыть свой потенциал, приобрести новые навыки и стать настоящими профессионалами в мире футбола.<br>
	</p>

	<div class="mb-3">
		<img class="trainer-image d-block img-fluid"
			src="{% static 'mainapp/about/trainers/trainer.jpg' %}" alt="trainer">
	</div>

	<p class="text-center p-4">
		Развитие физических качеств<br><br>

		В футбольной детской школе дети занимаются не только техникой игры и тактикой на поле, но и развивают свои физические способности. Тренировки способствуют укреплению мышц, улучшению выносливости, координации движений и гибкости. Это не только полезно для здоровья, но и поможет вашему ребенку быть в отличной форме.<br><br>

		Социализация и командный дух<br><br>

		Футбол - это командная игра, поэтому в детской школе футбола дети учатся работать в команде, слушать тренера, поддерживать товарищей по команде. Это помогает развитию социализации, умению находить общий язык с разными людьми, а также формирует чувство коллективизма и взаимопомощи. <br><br>
	</p>
{% endblock content %}

{% block prefooter %}
{% endblock prefooter %}
